<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://cdn.vmi2.liaomeivideo.com/download/ios/vliour.4.5.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://domain/logo/logo.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>v.evropribor.com</string>
<key>bundle-version</key>
<string>4.5</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>一对一视频聊天</string>
<key>title</key>
<string>V聊</string>
</dict>
</dict>
</array>
</dict>
</plist>
