<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 公共缓存 -->
	<bean id="publicPoolConfig" class="com.tigerjoys.nbs.common.cache.RedisPoolConfig">
		<property name="host" value="${public.redis.ip}" />
		<property name="port" value="${public.redis.port}" />
		<property name="database" value="${public.redis.db}" />
		<property name="timeout" value="${public.redis.timeout}" />
		<property name="maxTotal" value="${public.redis.max.active}" />
		<property name="maxIdle" value="${public.redis.max.idle}" />
		<property name="maxWaitMillis" value="${public.redis.max.wait}" />
		<property name="testOnBorrow" value="${public.redis.test.on.borrow}" />
		<property name="testOnReturn" value="${public.redis.test.on.return}" />
	</bean>
	
	<!-- 公共的配置 -->
	<bean id="publicRedisCache" name="publicRedisCache" class="com.tigerjoys.nbs.common.cache.CacheRedis">
		<constructor-arg index="0" ref="publicPoolConfig" />
	</bean>
	
	<!-- 数据库redis缓存，暂时用一个对象，以后可以用真正的实例对象 -->
	<alias name="publicRedisCache" alias="mybatisRedisCache"/>
	
	<!-- <bean id="mybatisRedisCache" class="com.tigerjoys.nbs.mybatis.core.utils.MybatisRedisCache">
		<constructor-arg index="0" ref="publicPoolConfig" />
	</bean> -->
	
</beans>
