<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop   
       	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
		<!-- 合并sql 对相似sql归并到一个sql进行检测统计 -->
		<property name="mergeSql" value="${osm.db.mergeSql}" />
		<!-- 慢sql日志记录 超过500毫秒秒记录为慢sql -->
		<property name="slowSqlMillis" value="${osm.db.slowSqlMillis}" />
		<property name="logSlowSql" value="${osm.db.logSlowSql}" />
	</bean>
	
	<!-- 阿里数据源配置 db -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url">
            <value><![CDATA[${osm.db.url}]]></value>
        </property>
		<property name="username" value="${osm.db.username}" />
		<property name="password" value="${osm.db.password}" />
		<!--maxActive: 最大连接数量 -->
		<property name="maxActive" value="${osm.db.maxActive}" />
		<!-- minIdle:最小空闲连接数量 -->
		<property name="minIdle" value="${osm.db.minIdle}" />
		<!--initialSize: 初始化连接 -->
		<property name="initialSize" value="${osm.db.initialSize}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${osm.db.maxWait}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${osm.db.timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${osm.db.minEvictableIdleTimeMillis}" />
		<!-- 数据库连接属性 -->
		<property name="connectionProperties" value="useUnicode=true;characterEncoding=utf8;connectTimeout=5000;socketTimeout=60000;autoReconnect=true;failOverReadOnly=false;useSSL=false;tinyInt1isBit=false" />
		<property name="validationQuery" value="select 1" />
		<property name="connectionInitSqls" value="set names utf8mb4;"/>
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="filters" value="slf4j" />
		<property name="proxyFilters">
			<list>
				<ref bean="stat-filter" />
			</list>
		</property>
	</bean>

    <!--mybatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation">
            <value>classpath:mybatis/service/mapper.xml</value>
        </property>
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

	<aop:aspectj-autoproxy />
	
    <!-- 注解Mapper scanner -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tigerjoys.news.inter.mapper" />
        <property name="sqlSessionTemplateBeanName" value="sqlSession" />
    </bean>
    
    <!-- 事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <tx:annotation-driven transaction-manager="transactionManager" />
    
</beans>